[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Sponza"]
	path = models/Sponza
	url = https://github.com/jimmiebergmann/Sponza
	branch = master